@import 'mixins/btn';
.btn_list {
    // width: 48px;
    height: 24px;
    margin-right: 1em;
    line-height: 22px;
    @include set_button_style(2px, $primary-color, $accent-color, $shadow: none);
}