@import 'mixins/btn';
.paper_div {
    width: 35%;
    background: $primary-color; // height: 90vh;
    margin-left: 1rem;
    padding: 0;
    overflow: hidden;
    overflow-y: auto; // transition: all .1s;
    position: relative; // padding: 1em;
    overflow: hidden;
}

.paper_div.open {
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    @media screen and (max-width: 768px) {
        border-radius: 0;
    }
}

.card_box {
    padding: 0;
    transition: all 0.3s;
    height: 96vh;
    overflow: hidden;
    overflow-y: auto; //transition: all .1s;
    position: relative;
    width: 100%;
    opacity: 0; //right: -100%;
}

.card_box.open {
    // margin: 0;
    //width: 100%;
    opacity: 1; //right: 0;
}

.add_button {
    //position: absolute;
    margin: 0 1rem;
    top: 0rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: $primary-color-text;
    cursor: pointer; //background-color: #fff;
    // @include set_button_style(2px, $primary-color, $accent-color, $shadow: none);
    @media screen and (max-width: 768px) {
        margin-bottom: 1em;
    }
}

.paper_card_title {
    display: block; // position: fixed;
    padding-top: 15px;
    height: 47px;
    text-align: center;
    color: $background-color;
    z-index: 1;
}

.return_btn {
    display: inline-block;
    text-align: right;
    margin-left: 18px;
    float: left;
    cursor: pointer;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.return_btn::before {
    content: '\E038';
    font-size: 14px;
    position: relative;
    left: 0;
    color: $background-color;
    font-family: icon;
    margin-top: -1px;
}

.add_card_btn {
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 28px;
    margin-bottom: 28px;
    font-weight: bold;
    color: $accent-color;
    border-radius: 4px;
    line-height: 20px;
    outline: none;
}

.add_card_btn::before {
    content: '\e039';
    font-size: 14px;
    font-family: icon;
    color: $primary-color-text;
    padding-right: 10px;
    text-align: center;
}

.hold_btn {
    border: none;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 28px;
    margin-bottom: 28px; // font-weight: bold;
    color: $background-color;
    background-color: $accent-color;
    border-radius: 4px;
    line-height: 20px;
    outline: none;
    cursor: pointer;
}

.card_left {
    width: 66.6%;
    float: left;
    p {
        font-size: 1.5em;
    } //border: 1px solid $secondary-text-color;
}

.card_title_left {
    line-height: 2.5em;
}

.card_right {
    color: $secondary-text-color;
    width: 33.3%;
    float: left;
    line-height: 1.5em;
}

.title_card_right {
    width: 33.3%;
    float: left; //border: 1px solid $secondary-text-color;
    line-height: 2.5em;
    p {
        font-size: 1.5em;
    }
}

@media screen and (max-width:768px) {
    .card_left p,
    .card_right p,
    .title_card_right {
        font-size: 1em;
        p {
            font-size: 1em;
        }
    }
}

.date_card {
    width: 66.6%;
    float: left;
    line-height: 3em;
    overflow: hidden;
    span {
        font-size: 2em;
    }
    p {
        float: left;
    }
}

@media screen and (max-width:768px) {
    .date_card {
        p>span {
            font-size: 1em;
        }
    }
}

.change_line {
    box-sizing: border-box;
    width: 33.3%;
    float: left;
    margin-bottom: 1em;
    p {
        line-height: 1.5em;
    }
}

.label_title_message {
    width: 100%;
    float: left;
    line-height: 2em;
    overflow: hidden;
    padding-top: 1em;
    label {
        width: 66.6%;
        display: block;
        float: left; // font-size: 1.5em;
        text-align: right;
    }
    span {
        width: 33.3%;
        display: block;
        float: left;
        text-align: right;
    }
    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.label_message {
    width: 100%; // float: left;
    height: 2em;
    font-size: 1em;
    float: left;
    color: $secondary-text-color;
    overflow: hidden;
    label {
        width: 66.6%;
        display: block;
        float: left;
    }
    span {
        text-align: right;
        width: 33.3%;
        display: block;
        float: left;
    }
}

.label_total_message {
    width: 100%;
    float: left;
    height: 2em;
    font-size: 16px;
    border-bottom: 2px solid $secondary-text-color;
    label {
        width: 66.6%;
        display: block;
        float: left;
    }
    span {
        width: 33.3%;
        display: block;
        float: left;
        text-align: right;
    }
}

@media only screen and (max-width:768px) {
    .select_card {
        position: relative;
        background: linear-gradient(to bottom right, $primary-color-dark, $primary-color);
    }
    .paper_div {
        width: 100%;
        position: fixed;
        margin-left: 0;
    }
    .paper_div.open {
        height: 95vh;
    }
    .card_box {
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.05s 0.01s cubic-bezier(0.165, 0.84, 0.44, 1);
        float: left;
        height: 0;
        width: 0%;
        z-index: 10;
    }
    .card_box.open {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        height: 91vh;
        /* height: 600px; js代替 */
        left: 0;
        z-index: 10;
    }
}

.message_left {
    float: left;
    width: 100%;
    .spelling_div {
        float: left;
        width: 33%;
        overflow: hidden;
        .spelling_content {
            width: 100%;
            float: left;
        }
        .spelling_label {
            width: 100%;
            float: left;
        }
    }
}

div.disabled,
input:disabled,
textarea:disabled {
    border: 0;
    background: transparent;
    color: #fff;
}

.card_budget,
.card_final_accounts {
    float: left;
    width: 67%;
    box-sizing: border-box;
    padding-left: 1em;
    overflow: hidden;
    line-height: 3em;
    .message_label {
        float: left;
        font-size: 1.5em;
        width: 3em;
    }
    span:nth-of-type(2) {
        padding-right: 1em;
        float: right;
    }
}

.card_budget_btn,
.card_final_btn {
    float: right;
    line-height: 2em;
    width: 33%;
    text-align: center;
    overflow: hidden;
    padding: 0.5em 1em 0.5em 0;
    box-sizing: border-box;
    .btn_list {
        float: left;
        width: 100%;
        margin-bottom: 0.2em;
    }
}
.card_budget_btn{
    span{
        font-size: 1.5em;
    }
}
.status_box_ul {
    float: left;
    overflow: hidden;
    line-height: 2em;
    height: 2em;
    padding-top: 1em;
    box-sizing: border-box;
    .status_box_item_success,
    .status_box_item_default,
    .status_box_item_fail {
        float: left;
        width: 2em;
        height: 1em;
        border-radius: 2px;
        margin-right: 0.2em;
    }
    .status_box_item_success {
        background-color: $primary-color;
    }
    .status_box_item_default {
        background-color: $secondary-text-color;
    }
    .status_box_item_fail {
        background-color: $accent-color;
    }
}

.card_budget {
    position: relative;
}

.card_budget .message_label::before {
    position: absolute;
}

.budget_menu {
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.5em;
    .spelling_div {
        float: left;
        display: block;
        width: 33%;
        overflow: hidden;
        .spelling_content {
            float: left;
            width: 100%;
            line-height: 1.5em;
        }
        .spelling_label {
            float: left;
            width: 100%;
            line-height: 1.5em;
        }
    }
}

.card_ask {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
    box-sizing: border-box;
    button {
        border: 0;
        float: left;
        text-align: center;
        outline: none;
        background-color: $primary-color;
        width: 8em;
        line-height: 2em;
        border-radius: 0.5em;
        margin-right: 2em;
        background-color: $primary-color;
        color: $primary-color-text;
    }
    button:hover {
        background: $accent-color;
    }
}

.card_approval {
    float: left;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 2em;
    width: 100%;
}

.card_launch_approval {
    float: left;
    line-height: 2em;
    width: 40%;
    text-align: right;
    box-sizing: border-box;
    font-size: 1em;
    padding-right: 1.5em;
}

.card_get_time {
    float: right;
    width: 50%;
    font-size: 1em;
    line-height: 2em;
    text-align: left;
    padding-left: 2em;
    box-sizing: border-box;
}

.card-body .card-page:nth-of-type(2) {
    overflow: hidden;
    .card_ide_btn {
        float: left;
        width: 33%;
        line-height: 3em;
        box-sizing: border-box;
        padding: 0.5em 1em 0.5em 0;
        .btn_list {
            float: left;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            width: 100%;
            margin: 0;
        }
    }
    .card_ide_btn:first-child {
        width: 100%;
    }
    .card_ide_btn:last-child {
        float: right;
    }
}

.status_flow_ul {
    float: left;
    width: 100%;
    overflow: hidden;
    li {
        clear: both;
    }
    .message_left,
    .message_right {
        float: left;
        line-height: 2em;
        font-size: 1em;
        box-sizing: border-box;
        span {
            display: block;
            width: 3em;
            float: left;
            padding-right: 1em;
        }
    }
    .message_left {
        text-align: right;
        width: 40%;
        position: relative;
    }
    .message_left::before {
        position: absolute;
        content: ' ';
        display: block;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        top: 0.7em;
        right: 0;
    }
    .message_left::after {
        position: absolute;
        content: ' ';
        width: 0.1em;
        height: 1.7em;
        top: 1.1em;
        right: 0.2em;
    }
    li:last-child {
        .message_left::after {
            display: none;
        }
    }
    .message_right {
        width: 60%;
        font-size: 1em;
        padding-left: 1em;
        box-sizing: border-box;
    }
    .status_flow_item_default {
        .message_left,
        .message_right {
            color: $secondary-text-color;
        }
        .message_left::before,
        .message_left::after {
            background-color: $secondary-text-color;
        }
    }
    .status_flow_item_success {
        .message_left,
        .message_right {
            color: $primary-color;
        }
        .message_left::before,
        .message_left::after {
            background-color: $primary-color;
        }
    }
    .status_flow_item_fail {
        .message_left,
        .message_right {
            color: $accent-color;
        }
        .message_left::before,
        .message_left::after {
            background-color: $accent-color;
        }
    }
}

.input-group {
    background-color: $background-color;
    color: $secondary-text-color;
    overflow: hidden;
    .input-group-btn {
        float: left;
        position: relative;
        .button {
            font-size: 1em;
            line-height: 3em;
            padding: 0.5em 1em;
            border-right: 1px solid $secondary-text-color;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            margin-right: -1px;
            box-sizing: border-box;
        }
        span {
            position: absolute;
            right: 1em;
            top: 1em;
            display: block;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }
    .form-control_input {
        float: left;
        border: 1px solid $secondary-text-color;
        box-sizing: border-box;
        width: 16em;
        height: 3em;
        padding: 0.5em 2em;
    }
    .input-group-btn_right {
        float: left;
        position: relative;
        .button {
            font-size: 1em;
            line-height: 3em;
            padding: 0.5em 1em;
            border-left: 1px solid $secondary-text-color;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            margin-left: -1px;
            box-sizing: border-box;
        }
    }
}

.search_terms {
    float: left;
    width: 9em;
    line-height: 2em;
    font-size: 1em;
    color: $secondary-text-color;
    background-color: $background-color;
    box-sizing: border-box;
    position: relative;
}

.del_btn {
    width: 1em;
    height: 1em;
    display: block;
    background-color: $secondary-text-color;
    border-radius: 50%;
    outline: 7px solid $background-color;
    outline-offset: -14px;
    transform: rotate(45deg);
    position: absolute;
    right: 0.5em;
    top: 0.2em;
}

.del_btn_all {
    float: left;
    width: 6em;
    line-height: 2em;
    font-size: 1em;
    color: $secondary-text-color;
    background-color: $background-color;
    box-sizing: border-box;
}