.card_box{
    margin-left: 1rem;
    padding: 0;
    padding-top: 1rem;
    background:linear-gradient(to bottom right, #3f435e, #4b567f);;
    height: 90vh;
    overflow: hidden; 
    overflow-y: auto;
    transition: all .1s;
    position: relative;
    width: 35%;
  }
  .card_box.open{
   // margin: 0;
    
  }
  .add_button{
    position: absolute;
    width: 60%;
    margin: 0 1rem;
    top: 0rem;
    text-align: center;
    //background-color: #fff;
  }
  .return_btn{
    height: 24px;
    text-align: right;
    transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 	
    -webkit-transform:rotateY(180deg);
    -o-transform:rotateY(180deg); 
  }
  .return_btn::before {
    content: '\E038';
    font-size: 14px;
    position: relative;
    left: 0;
    color: #ffffff;
    font-family: icon;
    margin-top: -1px;
}
  
@media only screen and (max-width:768px ){
    .select_card{
        position: relative;
        background: linear-gradient(to bottom right, #3f435e, #4b567f);;
    }
    .card_box{
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        background: linear-gradient(to bottom right, #3f435e, #4b567f);;
        overflow: hidden; 
        transition: all .1s;
        float: left;
        height: 0;
        width: 0%;
        z-index: 10;
    
      }
    .card_box.open{
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        background: linear-gradient(to bottom right, #3f435e, #4b567f);;
        /* height: 600px; js代替 */
        left: 0;
        z-index: 10;
      }
}
