@import 'mixins/btn';
.paper_div {
    width: 35%;
    background: $primary-color; // height: 90vh;
    margin-left: 1rem;
    padding: 0;
    overflow: hidden;
    overflow-y: auto; // transition: all .1s;
    position: relative; // padding: 1em;
    overflow: hidden;
}

.paper_div.open {
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    @media screen and (max-width: 768px) {
        border-radius: 0;
    }
}

.card_box {
    padding: 0;
    transition: all 0.3s;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto; //transition: all .1s;
    position: relative;
    width: 100%;
    opacity: 0; //right: -100%;
}

.card_box.open {
    // margin: 0;
    //width: 100%;
    opacity: 1; //right: 0;
}

.add_button {
    //position: absolute;
    margin: 0 1rem;
    top: 0rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: $primary-color-text;
    cursor: pointer; //background-color: #fff;
    // @include set_button_style(2px, $primary-color, $accent-color, $shadow: none);
    @media screen and (max-width: 768px) {
        margin-bottom: 1em;
    }
}

.paper_card_title {
    display: block; // position: fixed;
    padding-top: 15px;
    height: 47px;
    text-align: center;
    color: $background-color;
    z-index: 1;
}

.return_btn {
    display: inline-block;
    text-align: right;
    margin-left: 18px;
    float: left;
    cursor: pointer;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.return_btn::before {
    content: '\E038';
    font-size: 14px;
    position: relative;
    left: 0;
    color: $background-color;
    font-family: icon;
    margin-top: -1px;
}

.add_card_btn {
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 28px;
    margin-bottom: 28px;
    font-weight: bold;
    color: $accent-color;
    border-radius: 4px;
    line-height: 20px;
    outline: none;
}

.add_card_btn::before {
    content: '\e039';
    font-size: 14px;
    font-family: icon;
    color: $primary-color-text;
    padding-right: 10px;
    text-align: center;
}

.hold_btn {
    border: none;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 28px;
    margin-bottom: 28px; // font-weight: bold;
    color: $background-color;
    background-color: $accent-color;
    border-radius: 4px;
    line-height: 20px;
    outline: none;
    cursor: pointer;
}

.card_left {
    width: 66.6%;
    float: left;
    p {
        font-size: 1.5em;
    } //border: 1px solid $secondary-text-color;
}

.card_title_left {
    line-height: 2.5em;
}

.card_right {
    color: $secondary-text-color;
    width: 33.3%;
    float: left;
    line-height: 1.5em;
}

.title_card_right {
    width: 33.3%;
    float: left; //border: 1px solid $secondary-text-color;
    line-height: 2.5em;
    p {
        font-size: 1.5em;
    }
}

@media screen and (max-width:768px) {
    .card_left p,
    .card_right p,
    .title_card_right {
        font-size: 1em;
    }
}

.date_card {
    width: 66.6%;
    float: left;
    line-height: 3em;
    overflow: hidden;
    span {
        font-size: 2em;
    }
    p {
        float: left;
    }
}

@media screen and (max-width:768px) {
    .date_card {
        p>span {
            font-size: 1em;
        }
    }
}

.change_line {
    box-sizing: border-box;
    width: 33.3%;
    float: left;
    margin-bottom: 1em;
    p {
        line-height: 1.5em;
    }
}

.label_title_message {
    width: 100%;
    float: left;
    line-height: 2em;
    overflow: hidden;
    label {
        width: 66.6%;
        display: block;
        float: left; // font-size: 1.5em;
    }
    span {
        width: 33.3%;
        display: block;
        float: left;
        text-align: right;
        padding-right: 1em;
    }
    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.label_message {
    width: 100%; // float: left;
    height: 2em;
    font-size: 1em;
    float: left;
    color: $secondary-text-color;
    overflow: hidden;
    label {
        width: 66.6%;
        display: block;
        float: left;
    }
    span {
        text-align: right;
        width: 33.3%;
        display: block;
        float: left;
    }
}

.label_total_message {
    width: 100%;
    float: left;
    height: 2em;
    font-size: 16px;
    label {
        width: 66.6%;
        display: block;
        float: left;
    }
    span {
        width: 33.3%;
        display: block;
        float: left;
        text-align: right;
        padding-right: 1em;
    }
}

@media only screen and (max-width:768px) {
    .select_card {
        position: relative;
        background: linear-gradient(to bottom right, $primary-color-dark, $primary-color);
    }
    .paper_div {
        width: 100%;
        position: fixed;
        margin-left: 0;
    }
    .paper_div.open {
        height: 95vh;
    }
    .card_box {
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.05s 0.01s cubic-bezier(0.165, 0.84, 0.44, 1);
        float: left;
        height: 0;
        width: 0%;
        z-index: 10;
    }
    .card_box.open {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        height: 91vh;
        /* height: 600px; js代替 */
        left: 0;
        z-index: 10;
    }
}

.message_left {
    float: left;
    width: 100%;
    overflow: hidden;
    .spelling_div {
        float: left;
        width: 33%;
        overflow: hidden;
        .spelling_content {
            width: 100%;
            float: left;
        }
        .spelling_label {
            width: 100%;
            float: left;
        }
    }
}

div.disabled,
input:disabled,
textarea:disabled {
    border: 0;
    background: transparent;
    color: #fff;
}

.card_budget,
.card_final_accounts {
    float: left;
    line-height: 3em;
    width: 67%;
    box-sizing: border-box;
    padding-left: 1em;
}

.card_budget_btn,
.card_final_btn {
    float: right;
    line-height: 3em;
    width: 33%;
    text-align: center;
}

.card_budget,
.card_budget_btn {
    border-bottom: 1px solid $primary-color;
}

.budget_menu {
    overflow: hidden;
    width: 100%;
    .spelling_div {
        float: left;
        display: block;
        width: 33%;
        overflow: hidden;
        .spelling_content {
            float: left;
            width: 100%;
            line-height: 1.5em;
        }
        .spelling_label {
            float: left;
            width: 100%;
            line-height: 1.5em;
        }
    }
}

.card_ask {
    float: left;
    width: 100%;
    overflow: hidden;
    button {
        border: 0;
        float: left;
        text-align: center;
        outline: none;
        background-color: $primary-color;
        width: 5em;
        line-height: 2em;
        margin-right: 1em;
        border-radius: 0.5em;
        background-color: $primary-color;
        color: $primary-color-text;
    }
}
.card_approval{
    float: left;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 3em;
    width: 100%;
}
.card_launch_approval{
    float: left;
    line-height: 3em;
    width: 66%;
}