@mixin creat_login_style($bg_color, $padding, $set_height) {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #23246f;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    @media screen and (min-width: 768px) {
        background-image: url(src/login_bg_big-01.png);
    }
    .login_window {
        position: relative;
        box-sizing: border-box;
        padding: 4*$padding 2*$padding;
        background: $login_left_div_bgcolor;
        opacity: 0.8;
        width: 480px;
        height: 100vh;
        .login_nav_title {
            color: $primary-color-text;
            span {
                display: block;
            }
            span:first-child {
                line-height: 2em;
            }
            span:nth-of-type(2) {
                font-size: 1.5em;
                line-height: 2em;
                padding-bottom: 1em;
            }
        }
        input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            outline: none;
            border: none;
            color: #ffffffcc;
            background-color: #ffffff55;
            height: $set_height;
            padding-left: 5em;
            border-radius: 0.5em;
        }
        button {
            outline: none;
            border: none;
            width: 100%;
            line-height: $set_height;
            color: #fff;
            background: linear-gradient(90deg, #453287, #262676);
        }
    }
    .user_name,
    .pass_word,
        {
        position: relative;
        padding-bottom: $padding;
    }
    .user_name::before,
    .pass_word::before {
        position: absolute;
        content: ' ';
        display: block;
        float: left;
        margin-top: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .user_name::before {
        width: 2em;
        left: 1em;
        top: 0.5em;
        height: 2.5em;
        background-image: url(src/login-03.png);
    }
    .pass_word::before {
        width: 3em;
        left: 0.8em;
        top: 0.6em;
        height: 2em;
        background-image: url(src/login-04.png);
    }
    @media screen and (max-width:768px) {
        .login_window {
            width: 100%;
            padding: 4 * $padding 2em;
            background-repeat: no-repeat;
            background-size:cover;
            background-image: url(src/bg_small-03.png);
        }
    }
    .login_log_div {
        position: absolute;
        color: $primary-color-text;
        bottom: 4em;
        left: calc(50% - 60px);
        overflow: hidden;
        span {
            float: left;
        }
        span:first-child::before {
            content: ' ';
            width: 120px;
            height: 40px;
            display: block;
            background-image: url(src/logo-03.png);
            background-repeat: no-repeat;
            background-size: contain; // background-color: #fff;
            background-position: 0 0;
        }
    }
}