@import 'mixins/color';
@import 'mixins/table';
.label_title_message {
    @include title_border(2px, $secondary-text-color);
    span,
    label {
        box-sizing: border-box;
        padding-left: 0.7em;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            padding-left: 0.4em;
        }
    }
}
.label_title_message:first-child{
    border-top: 0;
}
.label_message {
    span,
    label {
        box-sizing: border-box;
        padding-left: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        overflow: hidden;
    }
    label {
        text-align: right;
    }
    span {
        padding-left: 0;
    }
}

.label_total_message {
    span,
    label {
        box-sizing: border-box;
        padding-left: 0.8em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        overflow: hidden;
        color: $primary-text-color;
        font-weight: bold;
        @media screen and (max-width: 768px) {
            padding-left: 0.4em;
        }
    }
    label {
        text-align: right;
    }
}