.view_table_list {
    width: 30%;
    float: left;
    height: 95vh;
    padding: 0.5em;
    overflow-y: auto;
    background-color: $primary-color;
    margin-left: 0.5em;
    color: $background-color;
    position: relative;
    @media screen and (max-width: 768px) {
        position: initial;
    }
    .add_card_btn {
        background-color: $primary-color;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        color: $primary-color-text;
    }
    .add_card_btn::before {
        color: $primary-color-text;
    }
    .label_delete_button {
        color: $primary-color-text;
        border-color: $primary-color-text;
    }
    .search_terms{
        .search_info_list.open{
            width: 8em;
        }
    }
}

.add_component_btns {
    .label_delete_button {
        color: $primary-color-text;
        border-color: $primary-color-text;
    }
}

.view_list {
    width: 30%;
    float: left;
    background-color: $primary-color;
    height: 96vh;
    padding: 0.5em;
    margin-left: 0.5em;
    overflow-y: auto;
    position: relative;
    .view_save_btn {
        display: block;
        padding: 0.5em 1em;
        border-radius: 4px;
        background-color: $primary-color;
        color: $primary-color-text;
        border: 1px solid $primary-color-text;
        text-align: center;
        outline: none;
        margin-top: 1em;
    }
    button:hover {
        background-color: $accent-color;
        color: $primary-color-text;
    }
}

.view_menu_list ul,
.view_url_list ul {
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 1em 0 1em 1em;
    li {
        float: left;
        width: 100%;
        color: $primary-color-text;
        line-height: 2em;
    }
}

// .view_url_list {
//     ul {
//         li {
//             line-height: 2em;
//             overflow: hidden;
//             input {
//                 float: left;
//             }
//             span {
//                 float: left;
//             }
//             p {
//                 float: left;
//             }
//         }
//     }
// }

.view_paper_list {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    position: relative;
    display: none;
}

.view_paper_list.open {
    display: inline-block;
}

.view_message_div {
    line-height: 30px;
    div {
        display: inline-block;
        width: 50%;
    }
    button {
        display: inline-block;
        float: right;
        margin-top: 3px;
    }
}

.view_component_div {
    color: $primary-color-text;
    border: 1px solid $primary-color-text;
    padding: 0.5em;
    margin: 0.5em 0;
    .card-item {
        color: $primary-color-text;
    }
}

.add_component_btns {}

.view_component_function {
    width: 100%;
    height: 2.5em;
    .label_delete_button {
        color: $primary-color-text;
        background: $accent-color;
    }
}

.view_change_hr {
    margin-top: 2rem;
    background-color: $primary-color-text;
}

.view_change_btn {
    // float: right;
    height: 3em;
    margin-top: 1rem;
    width: 3em;
    float: right;
    border-radius: 50%;
    outline: none;
    border: 1px solid $accent-color;
    color: $primary-color-text;
    font-size: 1em;
    cursor: pointer;
    background-color: $accent-color;
}

.complex_message {
    color: $background-color;
    font-size: 14px;
    p {
        padding-top: 0.5em;
    }
}