.view_table_list{
    width: 30%;
    float: left;
    height: 95vh;
    padding: 0.5em;
    overflow-y: auto;
    background-color: $bluePurple700;
    margin-left: 0.5em;
    color: $white;
    position: relative;
}
.view_list{
    width: 30%;
    float: left;
    background-color: $bluePurple700;
    height: 95vh;
    padding: 0.5em;
    margin-left: 0.5em;
    overflow-y: auto;
    position: relative;
}
.view_paper_list{
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    position: relative;
    display: none;
}
.view_paper_list.open{
    display: inline-block;
}
.view_message_div{
    line-height: 30px;
    div{
        display: inline-block;
        width: 65%;
    }
    button{
        display: inline-block; 
        float: right;
        margin-top: 3px;
    }
}
.view_component_div{
    border: 1px solid $gray600;
    padding: 0.5em;
    margin: 0.5em 0;

}
.add_component_btns{
}
.view_component_function{
    width: 100%;
    height: 1.5em;
}
.view_change_hr{
    margin-top: 2rem;
}
.view_change_btn{
    // float: right;
    height: 3em;
    margin-top: 1rem;
    width: 3em;
    float: right;
    border-radius:50%;
    outline: none;
    border: 1px solid $orange400;
    color: $bluePurple700;
    font-size: 1em;
    cursor: pointer;
    background-color: $orange400;
}
.complex_message{
    color: $white;
    font-size: 14px;
    p{
        padding-top: 0.5em;
    }
}