$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #FF5252;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$background-color:#fafafa;
$divider-color: #BDBDBD;
// $primary-text-color:#2e3247;
// $primary-color-dark:#3f435e;
// $primary-color:#4b567f;
$bluePurple400:#4d5a82;
// $primary-color-light:#aec1ed;
// $divider-color:#c6c8ce;
// $background-color:#fff;
// $primary-text-color:#000;