$bluePurple900:#2e3247;
$bluePurple800:#3f435e;
$bluePurple700:#4b567f;
$bluePurple400:#4d5a82;
$bluePurple200:#aec1ed;
$gray600:#878e9f;
$orange400:#f4a931;
$orange500:#ff5722;
$gray400:#c6c8ce;
$white:#fff;
$black:#000;