

@mixin title_border($border_weight, $color) {
    border-bottom: $border_weight solid $color;
    line-height: 2em;
}
@mixin content_border($content_weight, $content_color) {
    & span {
        box-sizing: border-box;
        height: 2em;
        border-left: $content_weight solid $content_color;
    }
}