@charset "UTF-8";
.nyx-z0 {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.nyx-z1 {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }

.nyx-z2 {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.nyx-z3 {
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.nyx-z4 {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.nyx-z5 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.nyx-z6 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.nyx-z7 {
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); }

.nyx-z8 {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.nyx-z9 {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.nyx-z10 {
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.nyx-z11 {
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.nyx-z12 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.nyx-z13 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }

.nyx-z14 {
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12); }

.nyx-z15 {
  -webkit-box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); }

.nyx-z16 {
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.nyx-z17 {
  -webkit-box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12); }

.nyx-z18 {
  -webkit-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12); }

.nyx-z19 {
  -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12); }

.nyx-z20 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); }

.nyx-z21 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12); }

.nyx-z22 {
  -webkit-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12); }

.nyx-z23 {
  -webkit-box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12); }

.nyx-z24 {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.nyx-transition {
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("font/glyphicons-halflings-regular.eot");
  src: url("font/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("font/glyphicons-halflings-regular.woff2") format("woff2"), url("font/glyphicons-halflings-regular.woff") format("woff"), url("font/glyphicons-halflings-regular.ttf") format("truetype"), url("font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\002a"; }

.glyphicon-plus:before {
  content: "\002b"; }

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-cd:before {
  content: "\e201"; }

.glyphicon-save-file:before {
  content: "\e202"; }

.glyphicon-open-file:before {
  content: "\e203"; }

.glyphicon-level-up:before {
  content: "\e204"; }

.glyphicon-copy:before {
  content: "\e205"; }

.glyphicon-paste:before {
  content: "\e206"; }

.glyphicon-alert:before {
  content: "\e209"; }

.glyphicon-equalizer:before {
  content: "\e210"; }

.glyphicon-king:before {
  content: "\e211"; }

.glyphicon-queen:before {
  content: "\e212"; }

.glyphicon-pawn:before {
  content: "\e213"; }

.glyphicon-bishop:before {
  content: "\e214"; }

.glyphicon-knight:before {
  content: "\e215"; }

.glyphicon-baby-formula:before {
  content: "\e216"; }

.glyphicon-tent:before {
  content: "\26fa"; }

.glyphicon-blackboard:before {
  content: "\e218"; }

.glyphicon-bed:before {
  content: "\e219"; }

.glyphicon-apple:before {
  content: "\f8ff"; }

.glyphicon-erase:before {
  content: "\e221"; }

.glyphicon-hourglass:before {
  content: "\231b"; }

.glyphicon-lamp:before {
  content: "\e223"; }

.glyphicon-duplicate:before {
  content: "\e224"; }

.glyphicon-piggy-bank:before {
  content: "\e225"; }

.glyphicon-scissors:before {
  content: "\e226"; }

.glyphicon-bitcoin:before {
  content: "\e227"; }

.glyphicon-btc:before {
  content: "\e227"; }

.glyphicon-xbt:before {
  content: "\e227"; }

.glyphicon-yen:before {
  content: "\00a5"; }

.glyphicon-jpy:before {
  content: "\00a5"; }

.glyphicon-ruble:before {
  content: "\20bd"; }

.glyphicon-rub:before {
  content: "\20bd"; }

.glyphicon-scale:before {
  content: "\e230"; }

.glyphicon-ice-lolly:before {
  content: "\e231"; }

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

.glyphicon-education:before {
  content: "\e233"; }

.glyphicon-option-horizontal:before {
  content: "\e234"; }

.glyphicon-option-vertical:before {
  content: "\e235"; }

.glyphicon-menu-hamburger:before {
  content: "\e236"; }

.glyphicon-modal-window:before {
  content: "\e237"; }

.glyphicon-oil:before {
  content: "\e238"; }

.glyphicon-grain:before {
  content: "\e239"; }

.glyphicon-sunglasses:before {
  content: "\e240"; }

.glyphicon-text-size:before {
  content: "\e241"; }

.glyphicon-text-color:before {
  content: "\e242"; }

.glyphicon-text-background:before {
  content: "\e243"; }

.glyphicon-object-align-top:before {
  content: "\e244"; }

.glyphicon-object-align-bottom:before {
  content: "\e245"; }

.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

.glyphicon-object-align-left:before {
  content: "\e247"; }

.glyphicon-object-align-vertical:before {
  content: "\e248"; }

.glyphicon-object-align-right:before {
  content: "\e249"; }

.glyphicon-triangle-right:before {
  content: "\e250"; }

.glyphicon-triangle-left:before {
  content: "\e251"; }

.glyphicon-triangle-bottom:before {
  content: "\e252"; }

.glyphicon-triangle-top:before {
  content: "\e253"; }

.glyphicon-console:before {
  content: "\e254"; }

.glyphicon-superscript:before {
  content: "\e255"; }

.glyphicon-subscript:before {
  content: "\e256"; }

.glyphicon-menu-left:before {
  content: "\e257"; }

.glyphicon-menu-right:before {
  content: "\e258"; }

.glyphicon-menu-down:before {
  content: "\e259"; }

.glyphicon-menu-up:before {
  content: "\e260"; }

/* reset */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

body {
  font: 14px "Microsoft", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  color: #cd0200;
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

/* font-icon */
ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: icon;
  src: url(./font/csi.woff); }
@font-face {
  font-family: zidai;
  src: url(./font/DINPRO-MEDIUM.OTF); }
.tab_title_wrap {
  float: left;
  background: linear-gradient(to bottom right, #3f435e, #4b567f);
  width: 122px;
  height: 100vh;
  padding-left: 18px;
  padding-top: 28px;
  padding-right: 10px;
  box-shadow: 0px 0px 2px 2px rgba(5, 13, 43, 0.3); }

.tab_title {
  display: block;
  height: 48px;
  line-height: 48px;
  padding-left: 24px;
  position: relative;
  color: #fff;
  transition: width .5s; }
  .tab_title a {
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none; }

.tab_title.active {
  color: #f4a931; }

.tab_item .active a {
  color: #f4a931; }

.tab_item.show .active::before {
  background: #f4a931; }

.tab_item_wrap {
  margin-left: 100px;
  width: 150px;
  transition: width .5s; }

.tab_item {
  display: none;
  width: 90px;
  height: 100vh;
  padding-left: 10px;
  padding-top: 28px;
  background: linear-gradient(to bottom right, #3f435e, #4b567f);
  box-shadow: 0px 0px 2px 2px rgba(5, 13, 43, 0.3); }

.tab_item .tab_title {
  padding-left: 7px;
  color: #fff; }

.show {
  display: block; }

.tab_item.show {
  margin-left: 50px; }

.tab_title_0::before {
  font-family: icon;
  content: '\e032';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: 0;
  top: -1px; }

.tab_title_0::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title_1::before {
  font-family: icon;
  content: '\e033';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: 0;
  top: -1px; }

.tab_title_1::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title_2::before {
  font-family: icon;
  content: '\e034';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: 0;
  top: -1px; }

.tab_title_2::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title_3::before {
  font-family: icon;
  content: '\e035';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: 0;
  top: -1px; }

.tab_title_3::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title_4::before {
  font-family: icon;
  content: '\e036';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: -1px;
  top: -1px; }

.tab_title_4::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title_5::before {
  font-family: icon;
  content: '\e037';
  display: block;
  font-size: 0.1em;
  position: absolute;
  left: 0;
  top: -1px; }

.tab_title_5::after {
  content: '\e038';
  font-size: 12px;
  position: absolute;
  right: 0;
  font-family: icon;
  margin-top: -1px; }

.tab_title a {
  color: #fff;
  text-decoration: none; }

.tab_item.show li::before {
  content: '';
  display: block;
  width: 2px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: 18px;
  left: 0; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  height: 100%; }

.container {
  width: 60%;
  float: left;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh; }

.container::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

.overflow {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.overflow::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

.container.fixed {
  overflow-y: hidden; }

.container::before {
  content: "";
  display: table; }

.img {
  width: 320px;
  height: 170px;
  background-color: blueviolet; }

.card {
  margin: 1rem;
  padding: 0;
  background-color: darkseagreen;
  height: 240px;
  overflow: hidden;
  transition: all .3s; }

.card.open {
  margin: 0;
  position: fixed;
  top: 0;
  background-color: #427881;
  /* height: 600px; js浠ｆ浛 */
  left: 0;
  z-index: 10; }

.bar {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: black; }

.bar .btn {
  font-size: 24px;
  line-height: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  float: right;
  padding: 0 1em;
  cursor: pointer; }

.bar .btn:hover {
  background-color: #fff;
  color: #000; }

.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  flex: 1 0 auto; }

.modal_backdrop {
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
  transition: width all .5s; }

.couter_control {
  position: absolute;
  height: 100%;
  width: 250px;
  overflow: hidden;
  z-index: 1000;
  background-color: #fff;
  transition: width .2s; }

.footer_position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 36px;
  z-index: 100;
  background-color: pink; }

.router_screen {
  display: block;
  font-size: 14px; }

.router_button {
  display: none; }

.box1 {
  width: 250px;
  height: 100px;
  background-color: green;
  overflow: hidden;
  transition: width .2s; }

.fade-leave.fade-leave-active, .fade-enter {
  width: 0;
  left: 0; }

.fade-enter.fade-enter-active, .fade-leave {
  width: 250px;
  left: 0; }

.card_list_div {
  width: 60%;
  float: left; }

.selected_card {
  border: 1px solid,palegreen; }

@media only screen and (max-width: 768px) {
  .router_screen {
    display: none; }

  .router_button {
    display: block;
    float: left; }

  .container {
    width: 100%; }

  .card_list_div {
    width: 100%; }

  .selected_card {
    border: 1px solid,palegreen; } }
.paper_div {
  width: 35%;
  background: linear-gradient(to bottom right, #3f435e, #4b567f);
  margin-left: 1rem;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  position: relative; }

.card_box {
  padding: 0;
  transition: all 0.3s;
  height: 90vh;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  opacity: 0; }

.card_box.open {
  opacity: 1; }

.add_button {
  margin: 0 1rem;
  top: 0rem;
  height: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4b567f;
  color: #f4a931;
  box-shadow: none;
  border: 1px solid #f4a931;
  text-align: center;
  outline: none; }
  .add_button:hover {
    background: #f4a931;
    color: #4b567f; }

.paper_card_title {
  padding-top: 15px;
  height: 47px;
  text-align: center;
  color: #fff; }

.return_btn {
  display: inline-block;
  text-align: right;
  margin-left: 18px;
  float: left;
  cursor: pointer;
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg); }

.return_btn::before {
  content: '\E038';
  font-size: 14px;
  position: relative;
  left: 0;
  color: #fff;
  font-family: icon;
  margin-top: -1px; }

.add_card_btn {
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 28px;
  margin-bottom: 28px;
  font-weight: bold;
  color: #f4a931;
  background: #4d5a82;
  border-radius: 4px;
  line-height: 20px;
  outline: none; }

.add_card_btn::before {
  content: '\e039';
  font-size: 14px;
  font-family: icon;
  color: #f4a931;
  padding-right: 10px;
  text-align: center; }

.hold_btn {
  border: none;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 28px;
  margin-bottom: 28px;
  color: #fff;
  background-color: #f4a931;
  border-radius: 4px;
  line-height: 20px;
  outline: none;
  cursor: pointer; }

.card_left {
  color: #878e9f;
  width: 66.6%;
  height: 2.5em;
  display: inline-block; }
  .card_left p {
    font-size: 1.5em; }

.card_right {
  color: #878e9f;
  width: 33.3%;
  height: 2.5em;
  display: inline-block; }
  .card_right p {
    font-size: 1.5em; }

.title_card_right {
  font-size: 1.5em;
  color: #878e9f;
  width: 33.3%;
  display: inline-block; }

@media screen and (max-width: 768px) {
  .card_left p,
  .card_right p,
  .title_card_right {
    font-size: 1em; } }
.date_card {
  width: 66.6%;
  display: inline-block;
  height: 3.2em; }
  .date_card p {
    display: inline-block; }
  .date_card p > span {
    font-size: 1.5em; }

@media screen and (max-width: 768px) {
  .date_card p {
    display: inline-block; }
  .date_card p > span {
    font-size: 1em; } }
.change_line {
  box-sizing: border-box;
  width: 33.3%;
  display: inline-block;
  height: 3.2em; }
  .change_line p {
    color: #878e9f; }

.label_title_message {
  width: 100%;
  float: left;
  height: 2em;
  font-size: 20px; }
  .label_title_message label {
    width: 66.6%;
    display: block;
    float: left; }
  .label_title_message span {
    width: 33.3%;
    display: block;
    float: left; }

.label_message {
  width: 100%;
  height: 2em;
  font-size: 14px;
  color: #878e9f; }
  .label_message label {
    width: 66.6%;
    display: block;
    float: left; }
  .label_message span {
    width: 33.3%;
    display: block;
    float: left; }

.label_total_message {
  width: 100%;
  float: left;
  height: 2em;
  font-size: 16px; }
  .label_total_message label {
    width: 66.6%;
    display: block;
    float: left; }
  .label_total_message span {
    width: 33.3%;
    display: block;
    float: left; }

@media only screen and (max-width: 768px) {
  .select_card {
    position: relative;
    background: linear-gradient(to bottom right, #3f435e, #4b567f); }

  .paper_div {
    width: 100%;
    position: fixed;
    margin-left: 0; }

  .paper_div.open {
    height: 95vh; }

  .card_box {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3f435e, #4b567f);
    overflow: hidden;
    transition: all 0.05s 0.01s cubic-bezier(0.165, 0.84, 0.44, 1);
    float: left;
    height: 0;
    width: 0%;
    z-index: 10; }

  .card_box.open {
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    height: 95vh;
    background: linear-gradient(to bottom right, #3f435e, #4b567f);
    /* height: 600px; js浠ｆ浛 */
    left: 0;
    z-index: 10; } }
.dialog_open {
  position: absolute;
  bottom: 50px;
  right: 10px;
  padding: 10px;
  background-color: yellow;
  z-index: 10; }

.dialog_window {
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: palevioletred;
  transition: all .3s;
  height: 0;
  width: 0%;
  z-index: 20; }

.dialog_window.open {
  margin: 0;
  width: 35%;
  position: fixed;
  bottom: 5px;
  height: 500px;
  background-color: palevioletred;
  /* height: 600px; js浠ｆ浛 */
  right: 5px;
  z-index: 20; }

@media only screen and (max-width: 768px) {
  .dialog_window {
    margin: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: palevioletred;
    transition: all .3s;
    height: 0;
    width: 0%;
    z-index: 20; }

  .dialog_window.open {
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 100vh;
    background-color: palevioletred;
    /* height: 600px; js浠ｆ浛 */
    right: 0;
    z-index: 20; } }
.add_info_list {
  width: 0;
  overflow: hidden;
  height: 0; }

.search_info_list_card {
  min-height: 26px;
  margin-bottom: 24px; }

.card_info_list_card {
  border-radius: 4px;
  background-color: #4b567f;
  padding: 18px;
  margin-bottom: 18px;
  padding-bottom: 38px; }

.search_info_list_label {
  float: left;
  display: inline-block;
  width: 59px;
  color: #fff;
  font-size: 14px;
  text-align: left;
  position: relative;
  padding-left: 7px;
  word-wrap: break-word;
  padding-right: 14px;
  overflow: hidden;
  padding-top: 3px;
  word-break: break-all; }

.search_info_list_label::before {
  content: '';
  display: block;
  width: 2px;
  height: 12px;
  background: #ff5722;
  position: absolute;
  top: 7px;
  left: 0; }

.add_info_list.open {
  height: 90vh;
  width: 100%;
  left: 0;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom right, #3f435e, #4b567f); }

.search_info_list {
  width: 0;
  height: 0;
  overflow: hidden; }

.search_info_position {
  position: relative; }

.search_info_list.open {
  min-height: 156px;
  background: #fff;
  position: relative;
  margin-left: 80px;
  z-index: 1;
  border-radius: 2px;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(46, 50, 71, 0.7);
  width: calc(100% - 80px); }

.selected_scroll_div {
  height: 90%;
  overflow-y: auto;
  padding: 0 18px; }

.selected_scroll_div::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

.selectedInfo {
  display: inline-block;
  width: calc(100% - 92px);
  height: 24px;
  font: 14px "Microsoft YaHei";
  line-height: 24px;
  padding-left: 10px;
  background: #fff;
  color: #878e9f;
  border-radius: 2px;
  border: 1px solid #c6c8ce; }

.selectedInfo::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #878e9f;
  float: right;
  margin-right: 10px;
  margin-top: 9px; }

.selectedInfoFont {
  display: inline-block;
  width: calc(100% - 92px);
  height: 24px;
  font: 14px "Microsoft YaHei";
  line-height: 24px;
  padding-left: 10px;
  background: #fff;
  color: #2e3247;
  border-radius: 2px;
  border: 1px solid #c6c8ce; }

.selectedInfo_font::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #878e9f;
  float: right;
  margin-right: 10px;
  margin-top: 9px; }

.add_list_close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0; }

/* select ul part */
.search_info_list_ul {
  display: block;
  height: 80px;
  margin-top: 14px;
  overflow-y: auto;
  width: 100%;
  border-radius: 2px;
  position: relative;
  color: #878e9f; }

.search_info_list_ul::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

/* select ul-li part */
.search_info_list_ul li {
  display: block;
  width: 100%;
  height: 26px;
  padding-left: 14px;
  line-height: 26px;
  margin-right: 10px;
  font: 14px "Microsoft";
  /* padding-left: 10px; */
  /* border-bottom: 1px solid #c6c8ce; */
  line-height: 26px;
  text-align: left; }

.search_info_list_ul li:hover {
  background-color: #f4a931;
  color: #fff; }

.select_info_list_ul {
  height: 156px;
  margin-top: 0; }

/* select ul-li first part */
/* select ul-li last part */
.select_search_div {
  display: block;
  height: 24px;
  line-height: 26px;
  margin-right: 10px;
  font: 14px "Microsoft";
  padding-left: 10px;
  /* border-bottom: 1px solid #c6c8ce; */
  line-height: 26px;
  margin-top: 10px;
  text-align: left; }

.select_search_input {
  display: block;
  width: calc(100% - 70px);
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  padding-right: 60px;
  outline: medium;
  padding-left: 9px;
  border: 1px solid #c6c8ce;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  font: 14px "Microsoft"; }

.select_search_input::placeholder {
  color: #000; }

.select_search_button {
  display: block;
  float: right;
  /* position: absolute; */
  height: 24px;
  width: 48px;
  margin-top: -25px;
  right: 10px;
  font-size: 12px;
  color: #f4a931;
  text-align: center;
  background: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
  cursor: pointer; }

.select_search_button::before {
  display: block;
  /* position: absolute; */
  float: left;
  width: 1px;
  height: 14px;
  background: #c6c8ce;
  margin-right: 5px;
  content: '';
  /* left: -4px; */
  margin-top: 1px; }

.add_project_new {
  display: block;
  height: 30px;
  margin-left: 14px;
  color: #f4a931;
  font: 14px "Microsoft";
  font-weight: bold;
  width: calc(100% - 20px);
  cursor: pointer;
  line-height: 30px; }

.select_result_msg {
  display: block;
  height: 24px;
  width: calc(100% - 80px);
  line-height: 24px;
  margin-top: 14px;
  margin-left: 78px;
  font-size: 14px;
  color: #fff; }
  .select_result_msg span {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    padding-left: 5px;
    word-wrap: break-word;
    padding-right: 14px;
    word-break: break-all;
    color: #ff5722; }

@media only screen and (max-width: 768px) {
  .add_info_list {
    width: 0;
    height: 0;
    overflow: hidden; }

  .add_info_list.open {
    display: block;
    height: 100vh;
    margin-bottom: 70px;
    transition: all .1s;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom right, #3f435e, #4b567f); }

  .selected_scroll_div {
    height: 84vh;
    overflow-y: auto;
    padding: 0 18px; } }
.alert-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 11; }

.alert-context {
  background-color: #fff;
  border-radius: 16px;
  height: 200px;
  width: 80%;
  margin: 40% auto 0; }

.alert-context .alert-content-detail {
  text-align: center;
  color: #333;
  font-size: 24px;
  height: 150px;
  line-height: 150px; }

.alert-context .comfirm {
  border-top: 1PX solid #eee;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #666; }

.alert-enter {
  opacity: 0; }

.alert-enter.alert-enter-active {
  transition: all 300ms;
  opacity: 1; }

.alert-leave {
  opacity: 1; }

.alert-leave.alert-leave-active {
  transition: all 300ms;
  opacity: 0; }

.text_field_div {
  display: block;
  width: 100%;
  margin: auto;
  color: #fff;
  min-height: 24px;
  margin-bottom: 24px; }

.text_field_input {
  display: block;
  margin-left: 78px;
  width: calc(100% - 92px);
  height: 24px;
  font: 14px "Microsoft YaHei";
  line-height: 24px;
  padding-left: 10px;
  background: #fff;
  color: #878e9f;
  border-radius: 2px;
  border: 1px solid #c6c8ce; }

.textarea_input {
  display: block;
  margin-left: 78px;
  width: calc(100% - 92px);
  font: 14px "Microsoft YaHei";
  line-height: 24px;
  padding-left: 10px;
  background: #fff;
  color: #878e9f;
  border-radius: 2px;
  border: 1px solid #c6c8ce; }

.text_field_remind {
  display: block;
  margin-left: 80px;
  border-radius: 2px;
  height: 14px;
  width: calc(100% - 82px);
  overflow-y: auto;
  margin-top: 10px; }

.label_button_card {
  display: block;
  padding: 14px;
  padding-bottom: 38px;
  border-radius: 4px;
  margin-bottom: 14px;
  background: #4d5a82; }

.label_button_title {
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: 800;
  color: #ff5722;
  word-wrap: break-word; }

.label_button_label {
  display: block;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 18px;
  color: #fff;
  word-wrap: break-word; }

.label_button_button {
  float: right; }

.button_md {
  width: 140px;
  background: #f4a931;
  border: 0;
  display: block;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  outline: none; }

.button_sm {
  width: 84px;
  background: #f4a931;
  border: 0;
  display: block;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  outline: none; }

.button_position {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px; }

.card_title {
  color: #ff5722;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 14px; }

.label_delete_button {
  float: right;
  cursor: pointer;
  margin-left: 14px;
  width: 48px;
  height: 24px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  color: #f4a931;
  background: transparent;
  border: 1px solid #f4a931;
  outline: 0; }

.btn_list {
  height: 24px;
  margin-right: 1em;
  line-height: 22px;
  border-radius: 2px;
  background-color: #4b567f;
  color: #f4a931;
  box-shadow: none;
  border: 1px solid #f4a931;
  text-align: center;
  outline: none; }
  .btn_list:hover {
    background: #f4a931;
    color: #4b567f; }

.label_title_message {
  border-top: 2px solid #4b567f;
  border-bottom: 2px solid #4b567f;
  line-height: 2em; }
  .label_title_message span,
  .label_title_message label {
    box-sizing: border-box;
    padding-left: 0.7em;
    padding-bottom: 0.25em;
    overflow: hidden; }

.label_message span {
  box-sizing: border-box;
  height: 2em;
  border-left: 1px solid #4b567f; }
.label_message span,
.label_message label {
  box-sizing: border-box;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow: hidden; }
.label_message label {
  text-align: right;
  padding-right: 1em; }

.label_total_message span {
  box-sizing: border-box;
  height: 2em;
  border-left: 1px solid #4b567f; }
.label_total_message span,
.label_total_message label {
  box-sizing: border-box;
  padding-left: 0.8em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow: hidden; }
.label_total_message label {
  text-align: right;
  padding-right: 1em; }

.view_table_list {
  width: 30%;
  float: left;
  height: 95vh;
  padding: 0.5em;
  overflow-y: auto;
  background-color: #4b567f;
  margin-left: 0.5em;
  color: #fff;
  position: relative; }

.view_list {
  width: 30%;
  float: left;
  background-color: #4b567f;
  height: 95vh;
  padding: 0.5em;
  margin-left: 0.5em;
  overflow-y: auto;
  position: relative; }

.view_paper_list {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  position: relative;
  display: none; }

.view_paper_list.open {
  display: inline-block; }

.view_message_div {
  line-height: 30px; }
  .view_message_div div {
    display: inline-block;
    width: 50%; }
  .view_message_div button {
    display: inline-block;
    float: right;
    margin-top: 3px; }

.view_component_div {
  border: 1px solid #878e9f;
  padding: 0.5em;
  margin: 0.5em 0; }

.view_component_function {
  width: 100%;
  height: 1.5em; }

.view_change_hr {
  margin-top: 2rem; }

.view_change_btn {
  height: 3em;
  margin-top: 1rem;
  width: 3em;
  float: right;
  border-radius: 50%;
  outline: none;
  border: 1px solid #f4a931;
  color: #4b567f;
  font-size: 1em;
  cursor: pointer;
  background-color: #f4a931; }

.complex_message {
  color: #fff;
  font-size: 14px; }
  .complex_message p {
    padding-top: 0.5em; }

.droppedcontent {
  border: 1px solid rgba(240, 242, 245, 0.8);
  margin-right: 10px;
  padding: 6px 6px 6px 6px;
  background-color: #fafafa;
  border-radius: 5%;
  box-shadow: 0 0 4px #d9d9d9; }

.droppingContent {
  border: 2px dashed #008dff;
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.8);
  margin-right: 10px;
  padding: 6px 6px 6px 6px;
  background-color: #fafafa;
  border-radius: 5%; }

.crius-card-list .card-project {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
.crius-card-list .inverse {
  color: #fff; }
.crius-card-list .card-project.active {
  display: block;
  border-radius: 10px;
  border: 0px solid #ccc;
  border-left-width: 10px;
  border-left-color: #4b567f; }
  .crius-card-list .card-project.active .card-foot {
    border-bottom-right-radius: 10px;
    background: #4b567f;
    height: 2em;
    position: absolute;
    bottom: 0;
    width: 100%; }
.crius-card-list::after {
  content: ' ';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }
.crius-card-list .card-head {
  text-align: center;
  display: block;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #4b567f;
  color: #4b567f;
  overflow: hidden; }
  .crius-card-list .card-head .card-item {
    float: left; }
.crius-card-list .card-body {
  display: block;
  overflow: hidden; }
.crius-card-list .card-foot {
  display: block;
  height: 2em;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #4b567f;
  height: 2em;
  line-height: 2em; }
.crius-card-list .card-head .inverse {
  background-color: #4b567f; }
.crius-card-list .card-project {
  margin-bottom: 3em; }
.crius-card-list .card-project {
  position: relative; }
  .crius-card-list .card-project .open-ctrl {
    height: 1em;
    background-image: url(openline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-color: #4b567f;
    position: absolute;
    bottom: 2em;
    width: 100%; }
  .crius-card-list .card-project .card-body {
    position: relative;
    height: 9em;
    transition: height 0.3s cubic-bezier(0.4, 0, 1, 1);
    box-sizing: border-box;
    padding-bottom: 1em; }
.crius-card-list .card-page.active {
  display: block;
  opacity: 1;
  position: relative; }
.crius-card-list .card-head .card-item {
  height: 2em; }
.crius-card-list .card-head .card-item:nth-of-type(1),
.crius-card-list .card-foot .card-item:nth-of-type(1) {
  width: 33.3333333333%;
  left: 0; }
.crius-card-list .card-head .card-item:nth-of-type(2),
.crius-card-list .card-foot .card-item:nth-of-type(2) {
  width: 33.3333333333%;
  left: 0; }
.crius-card-list .card-head .card-item:nth-of-type(3),
.crius-card-list .card-foot .card-item:nth-of-type(3) {
  width: 33.3333333333%;
  left: 0; }
.crius-card-list .card-page {
  display: none;
  border: none;
  opacity: 0; }
.crius-card-list .card-page.active {
  display: block;
  opacity: 1;
  height: auto;
  transition: opacity .3s ease; }
.crius-card-list .card-page.move-in {
  display: block;
  opacity: 0;
  transition: opacity .3s ease; }
.crius-card-list .card-body .card-page {
  position: absolute;
  padding: 0.5em 0 0 0.5em;
  width: 100%;
  box-sizing: border-box; }
.crius-card-list .card-foot .card-item {
  float: left; }
.crius-card-list .card-foot .active {
  height: 2em;
  border: none;
  position: relative;
  transition: border .3s ease; }
.crius-card-list .card-project.open .card-foot {
  height: 0; }
.crius-card-list .card-project.open .card-body {
  height: initial;
  transition: height 0.3s cubic-bezier(0.4, 0, 1, 1); }
.crius-card-list .card-project.open .card-body .card-page {
  transition: opacity .3s ease;
  display: block;
  opacity: 1;
  clear: both;
  position: initial; }
.crius-card-list .card-project.open .open-ctrl {
  background-image: url(closeline.svg);
  background-repeat: no-repeat;
  bottom: 0; }
.crius-card-list .card-project.open.move-out .card-body {
  height: 24em;
  transition: height 0.3s cubic-bezier(0.4, 0, 1, 1); }
.crius-card-list .card-project.active.move-in .card-body {
  height: 24em;
  transition: height 0.3s cubic-bezier(0.4, 0, 1, 1); }
.crius-card-list .card-foot .active::before {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 10px solid #fff;
  left: 50%;
  margin-left: -23px;
  margin-top: -4px; }
.crius-card-list .card-foot .active::after {
  position: absolute;
  content: ' ';
  bottom: 0px;
  width: 9em;
  left: 50%;
  margin-left: -5em;
  height: 2px;
  background-color: #fff; }

.input_list {
  position: fixed;
  bottom: 4em; }

.date—style {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .date—style .card_day {
    font-size: 28px;
    color: #000;
    padding-right: 5px;
    display: inline-block; }
  .date—style .card_month {
    padding-left: 5px;
    border-left: 2px solid #333;
    font-size: 14px;
    color: #000;
    display: inline-block; }
  .date—style .card_year {
    font-size: 14px;
    color: #000;
    display: inline-block; }

.alert_back {
  width: 0;
  height: 0; }
  .alert_back .alert_box {
    width: 0;
    height: 0;
    overflow: hidden; }
  .alert_back.open {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); }
  .alert_back .alert_box {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    display: none;
    background-color: #464d77;
    margin: auto;
    padding: 0.5em 1em 1em 1em;
    border-radius: 10px; }
    .alert_back .alert_box h2 {
      text-align: center;
      color: #fff;
      overflow: hidden;
      padding: 0;
      font-size: 16px;
      margin-bottom: 1em; }
    .alert_back .alert_box p {
      display: block;
      height: 10em;
      color: #464d77;
      background-color: #fff;
      padding: 10px 8px;
      margin-bottom: 1em;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.3); }
    .alert_back .alert_box button {
      display: block;
      height: 2em;
      width: 4em;
      background: #464d77;
      color: #fbb61d;
      border-radius: 2px;
      border: 1px solid #fbb61d;
      overflow: hidden;
      outline: none; }
    .alert_back .alert_box button:nth-of-type(1) {
      position: absolute;
      left: 2em;
      bottom: 1.5em; }
    .alert_back .alert_box button:nth-of-type(2) {
      position: absolute;
      right: 2em;
      bottom: 1.5em; }
    .alert_back .alert_box button.active {
      background: #fbb61d;
      overflow: hidden;
      color: #464d77; }
    .alert_back .alert_box button:hover {
      background: #fbb61d;
      overflow: hidden;
      color: #464d77; }
    @media screen and (max-width: 768px) {
      .alert_back .alert_box {
        margin: auto 1em; } }
  .alert_back .alert_box.open {
    display: block;
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1); }
  .alert_back .move-in {
    display: block;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1); }
  .alert_back .move-out {
    display: block;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1); }

.login {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #3e2b7f, #26216e);
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0; }
  .login .login_window {
    box-sizing: border-box;
    padding: 80px 40px;
    background: #111111;
    opacity: 0.8;
    width: 480px;
    height: 320px;
    margin: auto; }
    .login .login_window input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      outline: none;
      background: #fff;
      border: none;
      height: 40px;
      padding-left: 10px; }
    .login .login_window button {
      outline: none;
      border: none;
      width: 100%;
      height: 40px;
      color: #fff;
      background: #26216e; }
  .login .user_name,
  .login .pass_word {
    padding-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .login .login_window {
      margin: auto 1em;
      padding: 80px 20px; } }

/*# sourceMappingURL=style.css.map */
